<div>
  <div class="board-row">
    <app-square [value]="squares[0]" (onClick)="onSquareClicked.emit(0)"></app-square>
    <app-square [value]="squares[1]" (onClick)="onSquareClicked.emit(1)"></app-square>
    <app-square [value]="squares[2]" (onClick)="onSquareClicked.emit(2)"></app-square>
  </div>
  <div class="board-row">
    <app-square [value]="squares[3]" (onClick)="onSquareClicked.emit(3)"></app-square>
    <app-square [value]="squares[4]" (onClick)="onSquareClicked.emit(4)"></app-square>
    <app-square [value]="squares[5]" (onClick)="onSquareClicked.emit(5)"></app-square>
  </div>
  <div class="board-row">
    <app-square [value]="squares[6]" (onClick)="onSquareClicked.emit(6)"></app-square>
    <app-square [value]="squares[7]" (onClick)="onSquareClicked.emit(7)"></app-square>
    <app-square [value]="squares[8]" (onClick)="onSquareClicked.emit(8)"></app-square>
  </div>
</div>
